#sectionClasse {
    height: 200vh;
    #titree {
        text-transform: uppercase;
        letter-spacing: 10px;
        font-weight: 600;
        font-family: 'Source Code Pro', monospace;
        color: aliceblue;
        position: absolute;
        font-size: 80px;
        text-align: right;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
        transition: 1s;
    }
    
    #titree:hover {
        color: #95a5a6;
    }
}

.bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    transform: translateZ(0);
}

.bubbles li {
    position: absolute;
    list-style: none;
    background-color: rgba(255, 255, 255, 0.15);
    bottom: -100px;
    animation: square 15s infinite;
    transition-timing-function: linear;
}

.bubbles li:nth-child(1) {
    width: 40px;
    height: 40px;
    left: 20%;
}

.bubbles li:nth-child(2) {
    width: 60px;
    height: 60px;
    left: 40%;
    animation-delay: 2s;
    animation-duration: 2s;
}

.bubbles li:nth-child(3) {
    width: 10px;
    height: 10px;
    left: 60%;
    animation-delay: 4s;
    animation-duration: 3s;
}

.bubbles li:nth-child(4) {
    width: 80px;
    height: 80px;
    left: 80%;
    animation-delay: 1s;
    animation-duration: 2s;
}

.bubbles li:nth-child(4) {
    width: 50px;
    height: 50px;
    left: 50%;
    animation-delay: 7s;
    animation-duration: 8s;
}

@keyframes square {
    0% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }

    100% {
        transform: translateY(-1080px) rotate(630deg);
        -webkit-transform: translateY(-1080px) rotate(630deg);
    }
}

#titre {
    @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
    animation: pulse 5s infinite;
    animation-direction: alternate-reverse;
    transition: 2s ease-in-out;
    overflow: hidden;
    padding: 20px 0px;

    
}

@keyframes pulse {
    16.6% {
        background: #913D88;
    }

    33.2% {
        background: #BF55EC;
    }

    49.8% {
        background: #8E44AD;
    }

    66.4% {
        background: #446CB3;
    }

    83% {
        background: #4183D7;
    }

    100% {
        background: #913D88;
    }
}



/* ===================================
   Modules
   ================================ */

/* = Block
   ----------------------- */

   .block {
    padding: 66px 0 66px 127px;
    border-bottom: 1px solid #eee;
    background-color: rgba(245, 245, 245, .5);
}

.block:nth-child(even) {
    background-color: rgba(255, 255, 255, .5);
}

.block-title {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #38a2df;
}

.block-num {
    font-weight: 400;
    background-color: #38a2df;
    color: #fff;
    padding: 0 19px 0 20px;
    display: inline-block;
    text-align: center;
    line-height: 52px;
    margin: 0 15px 0 32px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
}


/* = Post
 ----------------------- */

.post {
    padding: 30px 15px 30px 0;
}

.post-img {
    border-radius: 116px;
    -webkit-border-radius: 116px;
    -moz-border-radius: 116px;
    float: left;
    width: 116px;
    height: 116px;
    border: 1px solid #e1e1e1;
}

.post-content {
    margin-left: 140px;
}

.post-title {
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 5px;
}

.post p,
.post ol {
  font-weight: 300;
  color: #666;
  margin-top: 0;
}

.post li {
    padding-bottom: 5px;
}

.post a {
  color: #38a2df;
  text-decoration: none;
  border-bottom: 2px solid #ddd;
}

.post a:hover {
    border-color: #38a2df;
}


/* = Button
 ----------------------- */

.btn {
  color: #7c7c7c !important;
  font-weight: 400 !important;
  font-size: 14px;
  display: inline-block;
  padding: 6px 12px;
  border: 2px solid #bcbcbc !important;
  text-decoration: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  margin-bottom: 6px;
}

.btn-lang {
  font-weight: 300;
  color: #9e9e9e;
}

.btn:hover {
  border-color: #999 !important;
  color: #555 !important;
}